{{#packageName}}package {{&packageName}}

{{/packageName}}{{>system_imports}}{{#imports}}import {{&.}}
{{#last}}
{{/last}}{{/imports}}{{#description}}/**
 * {{&description}}
 */
{{/description}}data class {{&nameFromURI}}(
{{#properties}}{{#schema}}{{#description}}        /** {{&safeDescription}} */
{{/description}}{{/schema}}        val {{&name}}: {{>type}}{{^isRequired}} = {{!
}}{{#defaultValue}}{{>default_value}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}}{{/isRequired}}{{^last}},{{/last}}
{{/properties}}){{#validationsOrNestedClassesPresent}} {
{{#validationsPresent}}
    init {
{{#properties}}{{>validation}}{{/properties}}    }
{{/validationsPresent}}{{#nestedClasses}}
{{>nested_class}}{{/nestedClasses}}
}{{/validationsOrNestedClassesPresent}}
