{{#type}}{{#NULL}}null{{/NULL}}{{!
}}{{#INTEGER}}{{&defaultValue}}{{/INTEGER}}{{!
}}{{#STRING}}{{&defaultValue}}{{/STRING}}{{!
}}{{#BOOLEAN}}{{&defaultValue}}{{/BOOLEAN}}{{!
}}{{#ARRAY}}listOf({{#defaultValue}}{{>default_value}}{{^last}}, {{/last}}{{/defaultValue}}){{/ARRAY}}{{/type}}