{{#description}}    /**
     * {{&description}}
     */
{{/description}}    data class {{&className}}(
{{#properties}}{{#schema}}{{#description}}            /** {{&safeDescription}} */
{{/description}}{{/schema}}            val {{&name}}: {{>type}}{{#nullable}}? = null{{/nullable}}{{^last}},{{/last}}
{{/properties}}    ){{#validationsPresent}} {
        init {
{{#properties}}{{>validation}}{{/properties}}        }
}{{/validationsPresent}}
