{{#description}}    /**
     * {{&description}}
     */
{{/description}}    data class {{&className}}(
{{#properties}}{{#schema}}{{#description}}            /** {{&safeDescription}} */
{{/description}}{{/schema}}            val {{&name}}: {{>type}}{{^isRequired}} = {{!
}}{{#defaultValue}}{{>default_value}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}}{{/isRequired}}{{^last}},{{/last}}
{{/properties}}    ){{#validationsPresent}} {
        init {
{{#properties}}{{>validation}}{{/properties}}        }
}{{/validationsPresent}}
