{{#systemClasses}}{{#.}}{{#DECIMAL}}import java.math.BigDecimal
{{/DECIMAL}}{{#DATE}}import java.time.LocalDate
{{/DATE}}{{#DATE_TIME}}import java.time.OffsetDateTime
{{/DATE_TIME}}{{#TIME}}import java.time.OffsetTime
{{/TIME}}{{#DURATION}}import java.time.Duration
{{/DURATION}}{{#UUID}}import java.util.UUID
{{/UUID}}{{#VALIDATION}}import net.pwall.json.validation.JSONValidation
{{/VALIDATION}}{{/.}}{{#last}}
{{/last}}{{/systemClasses}}