{{! is it a system class? (UUID etc.)
}}{{#isSystemClass}}{{#systemClass}}{{! is it a DATE_TIME?
}}{{#DATE_TIME}}OffsetDateTime{{/DATE_TIME}}{{! is it a DATE?
}}{{#DATE}}LocalDate{{/DATE}}{{! is it a TIME?
}}{{#TIME}}OffsetTime{{/TIME}}{{! is it a DURATION?
}}{{#DURATION}}Duration{{/DURATION}}{{! is it a UUID?
}}{{#UUID}}UUID{{/UUID}}{{/systemClass}}{{/isSystemClass}}{{^isSystemClass}}{{! is it a string?
}}{{#isString}}String{{/isString}}{{^isString}}{{! is it an int?
}}{{#isInt}}int{{/isInt}}{{^isInt}}{{! is it a long?
}}{{#isLong}}long{{/isLong}}{{^isLong}}{{! is it a boolean?
}}{{#isBoolean}}boolean{{/isBoolean}}{{^isBoolean}}{{! default Object
}}Object{{/isBoolean}}{{/isLong}}{{/isInt}}{{/isString}}{{/isSystemClass}}