{{#maximumPresent}}        if ({{&name}} > {{&maximum}})
            throw new IllegalArgumentException("{{&name}} > maximum {{&maximum}} - " + {{&name}});
{{/maximumPresent}}{{#exclusiveMaximumPresent}}        if ({{&name}} >= {{&exclusiveMaximum}})
            throw new IllegalArgumentException("{{&name}} >= exclusiveMaximum {{&exclusiveMaximum}} - " + {{&name}});
{{/exclusiveMaximumPresent}}{{#minimumPresent}}        if ({{&name}} < {{&minimum}})
            throw new IllegalArgumentException("{{&name}} < minimum {{&minimum}} - " + {{&name}});
{{/minimumPresent}}{{#exclusiveMinimumPresent}}        if ({{&name}} <= {{&exclusiveMinimum}})
            throw new IllegalArgumentException("{{&name}} <= minimum {{&exclusiveMinimum}} - " + {{&name}});
{{/exclusiveMinimumPresent}}{{#multipleOfPresent}}        if ({{&name}} % {{&multipleOf}} != 0)
            throw new IllegalArgumentException("{{&name}} not multiple of {{&multipleOf}} - " + {{&name}});
{{/multipleOfPresent}}