{{! is it a string?
}}{{#isString}}string{{/isString}}{{^isString}}{{! is it an int?
}}{{#isInt}}number{{/isInt}}{{^isInt}}{{! is it a long?
}}{{#isLong}}number{{/isLong}}{{^isLong}}{{! is it a boolean?
}}{{#isBoolean}}boolean{{/isBoolean}}{{^isBoolean}}{{! default any
}}any{{/isBoolean}}{{/isLong}}{{/isInt}}{{/isString}}